<!--SLIDER-->
<section class="slider-block">
  <div class="home-flexslider">
    <ul class="slides">		
      <li id="post-121" class="post-121 homeland_properties type-homeland_properties status-publish hentry">
        <div class="slide-image"><img width="1920" height="664" src="assets/uploads/2013/12/vacation_house_interior-wallpaper-1920x1200-1920x664.jpg" class="attachment-homeland_slider wp-post-image" alt="vacation_house_interior-wallpaper-1920x1200" /></div>
        <div class="inside">
          <div class="slider-actions">
            <div class="portfolio-slide-desc">
              <h2>Precy Villa Condos</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230;</p>
            </div>
            <div class="pactions clear">
              <label>
                <i class="fa fa-tag"></i>
                <span>
                  $300,000/year												
                </span>
              </label>
              <a href="javascript:void(0);" onclick="alert('Coming soon!!')">
                <span>
                  More Details												
                </span>
                <i class="fa fa-plus-circle"></i>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li id="post-100" class="post-100 homeland_properties type-homeland_properties status-publish hentry">
        <div class="slide-image"><img width="1920" height="664" src="assets/uploads/2013/12/beautiful_house-wallpaper-1920x1440-1920x664.jpg" class="attachment-homeland_slider wp-post-image" alt="beautiful_house-wallpaper-1920x1440" /></div>
        <div class="inside">
          <div class="slider-actions">
            <div class="portfolio-slide-desc">
              <h2>Villa Precy Subdivision</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230;</p>
            </div>	
            <div class="pactions clear">
              <label>
                <i class="fa fa-tag"></i>
                <span>
                  $100,000												
                </span>
              </label>
              <a href="javascript:void(0);" onclick="alert('Coming soon!!')">
                <span>
                  More Details												
                </span>
                <i class="fa fa-plus-circle"></i>
              </a>
            </div>
          </div>
        </div>
      </li>							
      <li id="post-98" class="post-98 homeland_properties type-homeland_properties status-publish hentry">
        <div class="slide-image"><img width="1920" height="664" src="assets/uploads/2013/12/View-over-the-lake_www.LuxuryWallpapers.net_-1920x664.jpg" class="attachment-homeland_slider wp-post-image" alt="View-over-the-lake_www.LuxuryWallpapers.net_" /></div>
        <div class="inside">
          <div class="slider-actions">
            <div class="portfolio-slide-desc">
              <h2>Redgedale Palace</h2><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230;</p>
            </div>	
            <div class="pactions clear">
              <label>
                <i class="fa fa-tag"></i>
                <span>
                  $300,000												
                </span>
              </label>
              <a href="javascript:void(0);" onclick="alert('Coming soon!!')">
                <span>
                  More Details												
                </span>
                <i class="fa fa-plus-circle"></i>
              </a>
            </div>
          </div>
        </div>
      </li>					
    </ul>	
  </div>	
</section>	

<section class="advance-search-block">
  <div class="inside">		
    <form action="http://wp.themecss.com/Homeland/advance-search/" method="get" id="searchform">
      <ul class="clear">
        <li>
          <label for="location">
            Location					
          </label>
          <select name="location">
            <option value="" selected="selected">
              Select						
            </option>
            <option value="canada">Canada</option><option value="florida">Florida</option>						
          </select>									
        </li>
        <li>
          <label>
            Status					
          </label>
          <select name="status">
            <option value="" selected="selected">
              Select						
            </option>
            <option value="for-rent">For Rent</option><option value="for-sale">For Sale</option>						
          </select>
        </li>
        <li class="last">
          <label>
            Property Type					
          </label>
          <select name="type">
            <option value="" selected="selected">
              Select						
            </option>
            <option value="commercial-property">Commercial</option><option value="residential-property">Residential</option>					
          </select>
        </li>
        <li>
          <label>
            Beds					
          </label>
          <select name="bed" class="small">
            <option value="" selected="selected">
              Select						
            </option>
            <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>						
          </select>
        </li>
        <li>
          <label>
            Baths					
          </label>
          <select name="bath" class="small">
            <option value="" selected="selected">
              Select						
            </option>
            <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>		
          </select>
        </li>
        <li>
          <label>
            Minimum Price					
          </label>
          <select name="min-price" class="small">
            <option value="" selected="selected">
              Select						
            </option>			
            <option value="5000">$5,000</option><option value="10000">$10,000</option><option value="50000">$50,000</option><option value="100000">$100,000</option><option value="200000">$200,000</option><option value="300000">$300,000</option><option value="400000">$400,000</option><option value="500000">$500,000</option><option value="600000">$600,000</option><option value="700000">$700,000</option><option value="800000">$800,000</option><option value="900000">$900,000</option><option value="1000000">$1,000,000</option><option value="1500000">$1,500,000</option><option value="2000000">$2,000,000</option><option value="2500000">$2,500,000</option><option value="5000000">$5,000,000</option>					
          </select>
        </li>
        <li>
          <label>
            Maximum Price					
          </label>
          <select name="max-price" class="small">
            <option value="" selected="selected">
              Select						
            </option>
            <option value="10000">$10,000</option><option value="50000">$50,000</option><option value="100000">$100,000</option><option value="200000">$200,000</option><option value="300000">$300,000</option><option value="400000">$400,000</option><option value="500000">$500,000</option><option value="600000">$600,000</option><option value="700000">$700,000</option><option value="800000">$800,000</option><option value="900000">$900,000</option><option value="1000000">$1,000,000</option><option value="1500000">$1,500,000</option><option value="2000000">$2,000,000</option><option value="2500000">$2,500,000</option><option value="5000000">$5,000,000</option><option value="10000000">$10,000,000</option><option value="20000000">$20,000,000</option>	
          </select>
        </li>
        <li class="last">
          <label>&nbsp;</label>
          <input type="submit" value="Search" />								
        </li>
      </ul>
    </form>
  </div>
</section>

<!--SERVICES-->
<section class="services-block">
  <div class="inside services-list-box clear">						
    <div id="post-104" class="post-104 homeland_services type-homeland_services status-publish hentry services-list clear ">								
      <span class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
        <i class="hi-icon fa fa-tag"></i>
      </span>		

      <div class="services-desc">
        <h5>Making Money</h5>								
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230;</p>
        <a href="javascript:void(0);" onclick="alert('Coming soon!!')" class="more">
          Read More								
        </a>
      </div>
    </div>						
    <div id="post-105" class="post-105 homeland_services type-homeland_services status-publish hentry services-list clear ">								
      <span class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
        <i class="hi-icon fa fa-cogs"></i>
      </span>		

      <div class="services-desc">
        <h5>Easy to Customize</h5>								
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230;</p>
        <a href="javascript:void(0);" onclick="alert('Coming soon!!')" class="more">
          Read More								
        </a>
      </div>
    </div>						
    <div id="post-106" class="post-106 homeland_services type-homeland_services status-publish hentry services-list clear last">								
      <span class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
        <i class="hi-icon fa fa-arrows-alt"></i>
      </span>		

      <div class="services-desc">
        <h5>Moving Let Us Help</h5>								
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi &#8230;</p>
        <a href="javascript:void(0);" onclick="alert('Coming soon!!')" class="more">
          Read More								
        </a>
      </div>
    </div>				
  </div>
</section>
<% unless @lettings.empty?  %>

  <!--PROPERTY-->
  <section class="property-block">
    <div class="inside property-list-box clear">
      <h2>
        <span>
          Latest Properties						
        </span>
      </h2>						
      <div id="carousel" class="es-carousel-wrapper">
        <div class="es-carousel">
          <div class="grid cs-style-3">	
            <ul class="clear">
              <% @lettings.each do |letting| %>
                <li id="post-126" class="post-126 homeland_properties type-homeland_properties status-publish hentry property-home">
                  <div class="property-mask">
                    <figure class="pimage">
                      <%= link_to image_tag(letting.photos.first.image, :width => "330",  :height => "230", :class => "attachment-homeland_property_medium wp-post-image"), 'javascript:void(0);'%>
                      <figcaption><a href="javascript:void(0);" onclick="alert('Coming soon!!')"><i class="fa fa-link fa-lg"></i></a></figcaption>
                      <h4> <a href="javascript:void(0);" onclick="alert('Coming soon!!')" rel="tag"><%= letting.publish_as %></a></h4>
                      <div class="property-price clear">
                        <div class="cat-price">
                          <span class="pcategory"> <a href="javascript:void(0);" onclick="alert('Coming soon!!')" rel="tag"><%= letting.property_category %></a></span>
                          <span class="price">
                            $<%= letting.deposit_amount %>								
                          </span>
                        </div>
                        <span class="picon"><i class="fa fa-tag"></i></span>
                      </div>
                    </figure>
                  </div>
                  <div class="property-info">
                    <span>
                      <i class="fa fa-home"></i>
                      20,000&nbsp;Acres		
                    </span>
                    <span><i class="fa fa-inbox"></i><%= letting.bedroom_count %> Bedrooms</span>
                  </div>
                  <div class="property-desc">
                    <h4><a href="javascript:void(0);" onclick="alert('Coming soon!!')"><%= letting.title %></a></h4><p><%= letting.property_short_description %> &#8230;</p>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>	
      </div>						
    </div>
  </section>
<% end %>

<section class="welcome-block">
  <div class="inside">
    <h2>Start a good life</h2>
    <label>Our Services go beyond just providing safe, serene and beautiful exclusive house. As an extended service, we also provide house packages that give you access to an array of house designs, suited to a variety of lot sizes and unique family need</label>
    <a href="javascript:void(0);" onclick="alert('Coming soon!!')" class="view-property">
      View Properties					
    </a>
  </div>
</section>

<!--3 COLUMNS-->
<section class="three-columns-block">
  <div class="inside clear">
    <div class="agent-block">
      <h3>
        <span>
          Top Agents				
        </span>
      </h3>
      <ul>
        <li class="clear">
          <a href="javascript:void(0);" onclick="alert('Coming soon!!')"><img alt='' src='assets/7e50404b3f65a6e2f9ea721174d588d66816.jpg?s=70&amp;d=&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' /></a>
          <h4><a href="javascript:void(0);" onclick="alert('Coming soon!!')">Louie Jie Mahusay</a></h4>
          <label>
            <i class="fa fa-home fa-lg"></i> Listed:				    			
            <span>2&nbsp;Properties</span>
          </label>
        </li>	
        <li class="clear">
          <a href="javascript:void(0);" onclick="alert('Coming soon!!')"><img alt='' src='assets/315874c5f7a60aa9b79a1f41bf5a959b6816.jpg?s=70&amp;d=&amp;r=G' class='avatar avatar-70 photo' height='70' width='70' /></a>
          <h4><a href="javascript:void(0);" onclick="alert('Coming soon!!')">Marry Grace Belarmino</a></h4>
          <label>
            <i class="fa fa-home fa-lg"></i> Listed:				    			
            <span>2&nbsp;Properties</span>
          </label>
        </li>	
        <li class="clear">
          <a href="javascript:void(0);" onclick="alert('Coming soon!!')"><img alt='' src='assets/0e5572992910c626087e5f820d138e476816.jpg' class='avatar avatar-70 photo' height='70' width='70' /></a>
          <h4><a href="javascript:void(0);" onclick="alert('Coming soon!!')">Mark Abucayon</a></h4>
          <label>
            <i class="fa fa-home fa-lg"></i> Listed:				    			
            <span>2&nbsp;Properties</span>
          </label>
        </li>	
      </ul>
    </div>
    <% unless @featured_lettings.empty?  %>

      <div class="featured-block">
        <h3>
          <span>
            Featured Properties					
          </span>
        </h3>
        <div class="grid cs-style-3">	
          <ul>
            <% @featured_lettings.each do |ft_letting|  %>
              <li id="post-121" class="post-121 homeland_properties type-homeland_properties status-publish hentry featured-list clear">
                <figure class="feat-thumb">
                  <%= link_to image_tag(ft_letting.photos.first.image, :width => "160",  :height => "120", :class => "attachment-homeland_property_medium wp-post-image"), 'javascript:void(0);'%>
                  <figcaption><a href="javascript:void(0);" onclick="alert('Coming soon!!')"><i class="fa fa-link fa-lg"></i></a></figcaption>
                  <h4> <a href="javascript:void(0);" onclick="alert('Coming soon!!')" rel="tag"><%= ft_letting.publish_as %></a></h4>	
                </figure>													
                <div class="feat-desc">
                  <h5><a href="javascript:void(0);" onclick="alert('Coming soon!!')"><%= ft_letting.title %></a></h5>												<span>
                    &nbsp;Bedrooms, <%= ft_letting.bedroom_count %> &nbsp;<%= ft_letting.property_category %>												</span>
                  <span class="price">
                    $<%= ft_letting.deposit_amount %>/year												</span>
                </div>
              </li>	
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <!--BLOG-->
    <div class="blog-block">
      <h3>
        <span>
          Latest Blog					
        </span>
      </h3>
      <div class="grid cs-style-3">	
        <ul>
          <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/131170977&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>									<li id="post-113" class="post-113 post type-post status-publish format-gallery hentry category-business category-inspiration tag-anniversary tag-deals latest-list clear">
            <div class="bimage"><a href="javascript:void(0);" onclick="alert('Coming soon!!')"><img width="70" height="70" src="assets/uploads/2013/12/house_with_swimming_pool-wallpaper-1920x1200-70x70.jpg" class="attachment-homeland_news_thumb wp-post-image" alt="house_with_swimming_pool-wallpaper-1920x1200" /></a></div>
            <div class="bdesc">
              <h5><a href="javascript:void(0);" onclick="alert('Coming soon!!')">Great deals on our anniversary</a></h5>											<label>
                Posted by:&nbsp;Mark&nbsp;|&nbsp;December 10, 2013											</label>
            </div>
          </li>									<li id="post-111" class="post-111 post type-post status-publish format-video hentry category-articles tag-new tag-properties latest-list clear">
            <div class="bimage"><a href="javascript:void(0);" onclick="alert('Coming soon!!')"><img width="70" height="70" src="assets/uploads/2013/12/luxury_house_interior-wallpaper-1920x1200-70x70.jpg" class="attachment-homeland_news_thumb wp-post-image" alt="SAMple" /></a></div>
            <div class="bdesc">
              <h5><a href="javascript:void(0);" onclick="alert('Coming soon!!')">New Property post this week</a></h5>											<label>
                Posted by:&nbsp;Mark&nbsp;|&nbsp;December 10, 2013											</label>
            </div>
          </li>					
        </ul>	
      </div>
    </div>					
  </div>
</section>