<section class="page-title-block-default header-bg"><div class="inside"><h2 class="ptitle">Properties</h2>				<h4 class="subtitle"><label>Lorem ipsum dolor sit amet, consectetur adipisicing elit</label></h4></div></section>	
<section class="advance-search-block advance-search-block-page">
  <div class="inside">		
    <form action="http://wp.themecss.com/Homeland/advance-search/" method="get" id="searchform">
      <ul class="clear">
        <li>
          <label for="location">
            Location					</label>
          <select name="location">
            <option value="" selected="selected">
              Select						</option>
            <option value="canada">Canada</option><option value="florida">Florida</option>						
          </select>									
        </li>
        <li>
          <label>
            Status					
          </label>
          <select name="status">
            <option value="" selected="selected">
              Select						
            </option>
            <option value="for-rent">For Rent</option><option value="for-sale">For Sale</option>						
          </select>
        </li>
        <li class="last">
          <label>
            Property Type			
          </label>
          <select name="type">
            <option value="" selected="selected">
              Select						
            </option>
            <option value="commercial-property">Commercial</option><option value="residential-property">Residential</option>					</select>
        </li>
        <li>
          <label>
            Beds					</label>
          <select name="bed" class="small">
            <option value="" selected="selected">
              Select						</option>
            <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>						
          </select>
        </li>
        <li>
          <label>
            Baths					
          </label>
          <select name="bath" class="small">
            <option value="" selected="selected">
              Select						
            </option>
            <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>		
          </select>
        </li>
        <li>
          <label>
            Minimum Price					
          </label>
          <select name="min-price" class="small">
            <option value="" selected="selected">
              Select						
            </option>			
            <option value="5000">$5,000</option><option value="10000">$10,000</option><option value="50000">$50,000</option><option value="100000">$100,000</option><option value="200000">$200,000</option><option value="300000">$300,000</option><option value="400000">$400,000</option><option value="500000">$500,000</option><option value="600000">$600,000</option><option value="700000">$700,000</option><option value="800000">$800,000</option><option value="900000">$900,000</option><option value="1000000">$1,000,000</option><option value="1500000">$1,500,000</option><option value="2000000">$2,000,000</option><option value="2500000">$2,500,000</option><option value="5000000">$5,000,000</option>					
          </select>
        </li>
        <li>
          <label>
            Maximum Price					
          </label>
          <select name="max-price" class="small">
            <option value="" selected="selected">
              Select						
            </option>
            <option value="10000">$10,000</option><option value="50000">$50,000</option><option value="100000">$100,000</option><option value="200000">$200,000</option><option value="300000">$300,000</option><option value="400000">$400,000</option><option value="500000">$500,000</option><option value="600000">$600,000</option><option value="700000">$700,000</option><option value="800000">$800,000</option><option value="900000">$900,000</option><option value="1000000">$1,000,000</option><option value="1500000">$1,500,000</option><option value="2000000">$2,000,000</option><option value="2500000">$2,500,000</option><option value="5000000">$5,000,000</option><option value="10000000">$10,000,000</option><option value="20000000">$20,000,000</option>	
          </select>
        </li>
        <li class="last">
          <label>&nbsp;</label>
          <input type="submit" value="Search" />								
        </li>
      </ul>
    </form></div>
</section>
<!--PROPERTY LIST-->
<section class="theme-pages">

  <div class="inside clear">

    <div class="theme-fullwidth">
      <div class="cat-toogles">
        <ul class="cat-list clear">
          <li class="current-cat">
            <a href="javascript:void(0);">
              All
            </a>
          </li>
          <li class="cat-item cat-item-4">
            <a href="javascript:void(0);" title="View all posts filed under Commercial">Commercial</a>
          </li>
          <li class="cat-item cat-item-3"><a href="javascript:void(0);" title="View all posts filed under Residential">Residential</a>
          </li>

        </ul>
      </div>

      <div class="property-list clear">
        <div class="property-three-cols">
          <div class="grid cs-style-3 masonry">	
            <ul class="clear">
              <% @lettings.each do |letting| %>
                <li>
                  <div class="property-mask">
                    <figure class="pimage">
                      <%= link_to image_tag(letting.photos.first.image, :width => "330",  :height => "230", :class => "attachment-homeland_property_medium wp-post-image"), 'javascript:void(0);'%>
                      <figcaption><a href="javascript:void(0);"><i class="fa fa-link fa-lg"></i></a></figcaption>
                      <h4><%= letting.publish_as %></h4>						
                    </figure>

                  </div>
                  <div class="property-info">
                    <span>
                      <i class="fa fa-home"></i>
                      20,000&nbsp;Acres		
                    </span>
                    <span><i class="fa fa-inbox"></i><%= letting.bedroom_count %> Bedrooms</span>
                  </div>
                  <div class="property-desc">
                    <h4><a href="javascript:void(0);"><%= letting.title %></a></h4>	
                    <span class="price">
                      <i class="fa fa-tag"></i>
                      $<%= letting.deposit_amount %>		
                    </span>
                    <p><%= letting.property_short_description %> &#8230;</p>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>	
        </div>
      </div>
    </div>

  </div>

</section>
