<section class="page-title-block-default header-bg"><div class="inside"><h2 class="ptitle">Properties</h2>				<h4 class="subtitle"><label>Lorem ipsum dolor sit amet, consectetur adipisicing elit</label></h4></div></section>	
<section class="advance-search-block advance-search-block-page">
    <%= render 'search_form' %>
</section>
<!--PROPERTY LIST-->
<section class="theme-pages">

  <div class="inside clear">

    <div class="theme-fullwidth">
      <div class="cat-toogles">
        <ul class="cat-list clear">
          <li class="current-cat">
            <a href="javascript:void(0);">
              All
            </a>
          </li>
          <li class="cat-item cat-item-4">
            <a href="javascript:void(0);" title="View all posts filed under Commercial">Commercial</a>
          </li>
          <li class="cat-item cat-item-3"><a href="javascript:void(0);" title="View all posts filed under Residential">Residential</a>
          </li>

        </ul>
      </div>
      <% unless @lettings.empty?  %>
        <div class="property-list clear">
          <div class="property-three-cols">
            <div class="grid cs-style-3 masonry">	
              <ul class="clear">
                <% @lettings.each do |letting| %>
                  <li>
                    <div class="property-mask">
                      <figure class="pimage">
                        <%= link_to image_tag(Photo.where("imageable_id = #{letting.id} and imageable_type='letting'").first.image, :width => "330",  :height => "230", :class => "attachment-homeland_property_medium wp-post-image"), 'javascript:void(0);'%>
                        <figcaption><a href="javascript:void(0);"><i class="fa fa-link fa-lg"></i></a></figcaption>
                        <h4><%= letting.publish_as %></h4>						
                      </figure>

                    </div>
                    <div class="property-info">
                      <span>
                        <i class="fa fa-home"></i>
                        20,000&nbsp;Acres		
                      </span>
                      <span><i class="fa fa-inbox"></i><%= letting.bedroom_count %> Bedrooms</span>
                    </div>
                    <div class="property-desc">
                      <h4><a href="javascript:void(0);"><%= letting.title %></a></h4>	
                      <span class="price">
                        <i class="fa fa-tag"></i>
                        $<%= letting.price %>		
                      </span>
                      <p><%= letting.property_short_description %> &#8230;</p>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>	
          </div>
        </div>
      <% end %>
    </div>

  </div>

</section>
